#textBoxDiv {
  background-color: black;
  width: 500px;
  height: auto;
  border: 5px solid white;
  position: absolute;
  left: 34%;
  top: 70%;
}

#textBoxText {
  color: white;
}

/* Blue Dino */
.blueDinoWalk {
  width: 192px;
  height: 192px;
  background: url('/public/images/blue-dino-walk-scaled.png');
  display: inline-flex;
  left: 20%;
  top: 44%;
  position: absolute;
  animation: blueDinoWalk 600ms steps(6) infinite;
}
@keyframes blueDinoWalk {
  100% { background-position: -1152px 0; }
}

/* Red Dino */
.redDinoWalk {
  width: 192px;
  height: 192px;
  background: url('/public/images/red-dino-walk-scaled.png');
  display: inline-flex;
  left: 20%;
  top: 44%;
  position: absolute;
  animation: redDinoWalk 600ms steps(6) infinite;
}
@keyframes redDinoWalk {
  100% { background-position: -1152px 0; }
}

/* Green Dino */
.greenDinoWalk {
  width: 192px;
  height: 192px;
  background: url('/public/images/green-dino-walk-scaled.png');
  display: inline-flex;
  left: 20%;
  top: 44%;
  position: absolute;
  animation: greenDinoWalk 600ms steps(6) infinite;
}
@keyframes greenDinoWalk {
  100% { background-position: -1152px 0; }
}