#characterNameInput {
  font-family: 'Silkscreen';
  text-align: center;
  border-radius: 10%;
  font-size: 20px;
}

.imgDiv {
  margin: 10px;
  border: 2px solid;
  border-radius: 25%;
  padding: 10px;
  background-color: oldlace;
}

.imgDiv1 {
  margin: 10px;
  border: 2px solid;
  border-radius: 25%;
  padding: 10px;
  background-color: oldlace;
  animation: mymove 800 1s;
}
@keyframes mymove {
  0% { background-color: chartreuse; }
  100% { background-color: oldlace; }
}

.characterDivButton {
  margin: 10px;
  background-color: oldlace;
  border-radius: 25%;
}

#addCharacterButton {
  margin: 10px;
}

thead {
  color: white;
  background-color: black;
}

table {
  /* outline: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

tr, td {
  outline: 1px solid black;
}

form {
  text-align: center;
}

.characterNameColumn {
  width: 30%;
}

.characterImageColumn {
  width: 50%;
}

#charactersDiv {
  display: flex;
  justify-content: center;
}

.characterRow {
  background-color: rgb(193, 214, 255);
}

.characterRowChangeColor {
  background-color: rgb(206, 255, 80);
}

#goToWalkingButton {
  font-size: xx-large;
  padding: 20px;
  margin: 40px;
}